@charset "UTF-8";
body, html {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
  padding: 0; }

img {
  vertical-align: middle; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

/*
 * Classes
 */
.text-help {
  color: #555; }

.text-center {
  text-align: center; }

.dib {
  display: inline-block; }

#remaining-counts {
  font-size: 1.5rem;
  font-weight: bold; }

.ion-clock {
  display: block;
  float: left;
  font-size: .6rem;
  line-height: 1.8;
  margin-right: 4px; }

/* caption */
.caption--form-element {
  font-weight: bold; }

/* margins */
.mb-2 {
  margin-bottom: 2rem; }

.ml-1 {
  margin-left: 1rem; }

/* btn */
.btn {
  background-color: #283249;
  border-bottom: 2px solid #666;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: .9rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1rem;
  outline: none;
  padding: .5rem .7rem;
  position: relative;
  top: 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  .btn:hover {
    top: 1px; }

.btn--green {
  background-color: #00b900;
  border-bottom: 2px solid #00a000; }
  .btn--green:hover {
    background-color: #2fc62f; }

/* container */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1025px;
  padding-top: 100px;
  width: 100%; }
  .container > div {
    display: block;
    float: left;
    width: 50%; }
  .container > #edit-form {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0; }
  .container > .screen-wrap {
    margin-left: 50%; }

/* screen shot! */
#screen-dump {
  display: block;
  text-align: center; }

/* form */
input[type=text],
input[type=time] {
  background-color: #eee;
  border-radius: 2px;
  border-style: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
  margin-left: 1rem;
  outline: none;
  padding: 5px; }

input[type=text]:focus {
  box-shadow: 0 0 5px #aaa inset;
  cursor: text; }

#preview-date {
  display: none;
  margin-top: 1rem;
  margin-left: 6rem; }

#check-time-random:not(:checked) ~ #preview-date {
  display: block; }

/*
 * Header
 */
/*
 * line screen
 */
.screen {
  border: 1px solid #285588;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  width: 290px; }
  .screen .screen-header {
    background-color: #283249;
    color: #fff; }
  .screen .mb-header-tp,
  .screen .mb-header-bt {
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%; }
  .screen .mb-header-bt {
    height: 30px;
    padding: 0 10px 5px; }
  .screen .mobile-time {
    font-size: .72em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; }
  .screen .radiowave-condition {
    background-image: url("");
    display: block;
    float: left;
    width: 50px; }
  .screen .battery-condition {
    display: block;
    float: right;
    line-height: 1;
    margin-right: 3px; }
    .screen .battery-condition > .text {
      display: inline-block;
      font-size: .6rem;
      line-height: 1;
      margin-top: -3px;
      margin-right: 4px;
      vertical-align: middle; }
  .screen .app-caption-edit {
    font-size: .8em; }
  .screen .app-caption-talk {
    font-size: .9em;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; }

/* talk block */
.talk-block {
  background-color: #fff;
  cursor: pointer;
  display: block;
  overflow: hidden;
  transition: all .2s;
  width: 288px; }
  .talk-block:hover {
    box-shadow: 0 0 3px -1px #000;
    transform: scale(1.02); }
  .talk-block > .inner {
    position: relative; }

.last-msg-arrived {
  color: #888;
  font-size: .65rem;
  position: absolute;
  right: 5px;
  top: 1px; }

.profile-image,
.talk-preview-wrap {
  display: block;
  float: left;
  overflow: hidden; }

.profile-image {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 50px; }
  .profile-image img {
    height: 36px;
    margin-top: 3px;
    width: 36px; }

.talk-preview-wrap {
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
  width: 238px; }

.talk-preview-from {
  font-size: 1.05rem;
  margin-top: 2px;
  margin-bottom: 0; }

.talk-preview {
  color: #888;
  line-height: 1;
  margin: 0 0 0 1px; }

/*
 * SP
 */

/*# sourceMappingURL=style.css.map */
