@charset 'utf-8';

$lineColor:#00b900;
$chatLineColor:#85e249;
$baseFontSize:15px;

body,html {
	font-family:"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: $baseFontSize;
	margin:0;
	padding:0;
}
body {
}
img {
	vertical-align: middle;
}
ul,ol {
	list-style-type: none;
	margin:0;
	padding:0;
}
p {
	word-break: break-all;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}


/*
 * Classes
 */
.text-help { color:#555; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.dib { display: inline-block; }
.over-hidden { overflow: hidden; }
#remaining-counts {
	font-size:1.5rem;
	font-weight: bold;
}
.ion-clock {
	display: block;
	float: left;
	font-size: .6rem;
	line-height: 1.8;
	margin-right: 4px;
}

/* caption */
.caption--form-element {
	float:left;
	font-weight: bold;
}

/* margins */
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.ml-1 { margin-left: 1rem;}

/* btn */
.btn {
	background-color:#283249;
	border-bottom:2px solid #666;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-family:inherit;
	font-size: .9rem;
	font-weight:bold;
	display: inline-block;
	margin-bottom: 1rem;
	outline:none;
	padding:.5rem .7rem;
	position: relative;
	top:0;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	transition:all .2s;
	&:hover {
		top:1px;
	}
}
	.btn--green {
		background-color:$lineColor;
		border-bottom:2px solid #00a000;
		&:hover {
			background-color:#2fc62f;
		}
	}

/* container */
.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1025px;
	width:100%;
	& > div {
		display: block;
		float:left;
		width:50%;
	}
	& > #edit-form {
		align-items: center;
		display: flex;
	  justify-content: flex-end;
		height:100vh;
		left:0;
		position: fixed;
		top:0;
		z-index: 1;
	}
	& > .screen-wrap {
		margin-left: 50%;
	}
	.profile-wrap {
		img {
		}
	}
}

/* screen shot! */
#screen-dump {
	display: block;
	text-align: center;
	img {
	}
}

/* form */
input[type=text],
input[type=time],
textarea {
	background-color:#eee;
	border-radius: 2px;
	border-style:none;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.25rem;
	margin-left: 1rem;
	outline: none;
	padding: 5px;
}
textarea {
	font-size:.9rem;
	line-height: 1.2;
	min-height: 100px;
	resize:none;
	padding:.5rem;
	width:220px;
}
input[type=text]:focus,
textarea:focus {
	box-shadow: 0 0 5px #aaa inset;
	cursor: text;
}
#preview-date {
	display: none;
	margin-top: 1rem;
	margin-left: 6rem;
}
#check-time-random:not(:checked)~#preview-date {
	display: block;
}

/*
 * Header
 */
header.common {
	background-color: #fff;
	box-shadow: 0 0 4px -1px #000;
	margin-bottom: 4rem;
	position: relative;
	z-index:4;
}
.header-top {
	background-color:$lineColor;
	padding: .75rem 0;
}
.header-bottom {
	padding: 1rem 0;
}
h1 {
	margin: 0;
	a {
		color:#fff;
	}
}
.global-menu {
	li {
		display: inline-block;
		margin: 0;
		overflow: hidden;
		a {
			color:#000;
			display: block;
			font-weight: bold;
			padding: 1rem;
		}
		a.active {
			background-color: #efefef;
		}
	}
}

/*
 * line screen
 * iPhone6 screen size - 	375:667 = 290:515.8
 */
.screen,
#screen-shot {
	height:518.8px;
	width:290px;
}
.screen {
	border:1px solid #285588;
	margin-right:auto;
	margin-bottom: 1rem;
	margin-left:auto;
	position: relative;
	.screen-header {
		background-color:#283249;
		color:#fff;
		height:75px;
		.ion-record {
			font-size:.4rem;
			margin:0 -5px 0 3px;
			vertical-align: text-top;
		}
		.ion-wifi {
			font-size:.7rem;
			margin-left: 5px;
			vertical-align: super;
		}
	}
	.screen-body {
		background-size:cover;
		height:438px;
		width:100%;
	}
	.screen-footer {
		align-items: center;
		background-color:#eef1f4;
		bottom:0;
		box-shadow:0 0 1px #888;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		height:30px;
		padding:6px 6px 6px 8px;
		position: absolute;
		width:100%;
		&.screen-footer--chats {
			height:35px;
		}
	}
	.mb-header-tp,
	.mb-header-bt {
		display: block;
		height:20px;
		overflow: hidden;
		position:relative;
		width: 100%;
	}
	.mb-header-tp {
		padding: 2px;
	}
	.mb-header-bt {
		height:30px;
		padding:0 10px;
	}
	.search-box {
		padding:0 7px;
		.inner {
			background-color:#384256;
			border-radius: 3px;
			padding:2px 0;
			text-align: center;
			p {
				color:#8f8f8f;
				font-size:.7rem;
				margin: 0;
			}
		}
	}
	.mobile-time {
		font-size:.72em;
		left:0;
		position:absolute;
		text-align: center;
		top:0;
		width:100%;
	}
	.radiowave-condition {
		background-image:url('');
		display: block;
		float:left;
		width:60px;
	}
	.battery-condition {
		display: block;
		float:right;
		line-height:1;
		margin-right: 3px;
		& > .text {
			display: inline-block;
			font-size:.6rem;
			line-height:1;
			margin-top: -3px;
			margin-right: 4px;
			vertical-align: middle;
		}
	}
	.app-caption-edit {
		font-size:.8em;
	}
	.app-caption-talk {
		font-size:.8em;
		left:0;
		margin:0;
		position: absolute;
		text-align: center;
		top:0;
		width:100%;
	}
	.app-back-arrow {
		font-size:1rem;
	}
	.app-dot {
		border:1px solid #999;
		border-radius:50%;
		height:4px;
		margin-top: -3px;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		width:4px;
		&:before,
		&:after {
			border-radius: 50%;
			content:'';
			height:2px;
			position: absolute;
			top:-1px;
			width:2px;
		}
		&:before {
			background-color: #fff;
			border:1px solid #fff;
			left:-10px;
		}
		&:after {
			border:1px solid #999;
			right:-10px;
		}
	}
	.chat-history-wrap {
		background-image:url('../image/LINE-BG.jpg');
		overflow-y: scroll;
	}
	.chat-input-model {
	}
	ul.chat-history {
		overflow: hidden;
		padding-right: 5px;
		padding-left: 5px;
		li {
			cursor: pointer;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			margin-bottom: 5px;
			width:235px;
			&:first-child {
				margin-top: 1rem;
			}
			&.mine {
				flex-direction: column-reverse;
				float:right;
				padding-left: 100px;
		    width: 285px;
				.profile-wrap {
					display: none;
				}
				.chat-wrap .chat-balloon {
					background-color: $chatLineColor;
					color:#1f1f1f;
					float:right;
				}
			}
			.profile-wrap {
				padding-right: 5px;
				.profile-image  {
			    align-items: baseline;
					height:28px;
					width: 28px;
					padding-top: 0;
					img {
						height:28px;
						margin-top: 0;
						width:28px;
					}
				}
			}
			.chat-wrap {
				.chat-balloon {
					background-color: #fff;
			    border-radius: 15px;
					display: inline-block;
			    font-size: .71rem;
			    padding: 6px 10px;
					a {
						text-decoration: underline;
					}
				}
				p {
					margin: 0;
				}
			}
		}
	}
}

/* talk block */
li.talk-block {
	background-color: #fff;
	cursor: pointer;
	display: block;
	overflow: hidden;
	transition: all .2s;
	width:288px;
	&:hover {
		box-shadow: 0 0 3px -1px #000;
		transform: scale(1.02);
	}
	& > .inner {
		padding-top: 2px;
		position:relative;
	}
}
.last-msg-arrived {
	color: #888;
	font-size: .5rem;
	letter-spacing: 1px;
	position: absolute;
	right: 6px;
	top: 2px;
}
.talk-preview-wrap {
	display: block;
	float:left;
	overflow: hidden;
}
.profile-image {
	align-items: center;
	display: flex;
	float:left;
  height: 52px;
	justify-content: center;
	text-align: center;
  width: 52px;
	img {
		border-radius: 50%;
		height: 41px;
		width:41px;
	}
}
.talk-preview-wrap {
	border-bottom: 1px solid #eee;
	padding: 8px 2px 14px;
	width:236px;
}
	.talk-preview-from {
		font-size: .85rem;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 2px;
    margin:0 0 4px 0;
	}
	.talk-preview {
		color:#888;
		font-size: .68rem;
		line-height:1;
		margin: 0 0 0 1px;
	}

/*
 * Main
 */
main {
	position: relative;
	z-index:1;
}
#dialog {
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	display: none;
	height:100%;
	justify-content: center;
	position: fixed;
	top:0;
	width:100%;
	z-index: 10;
	&.active {
		display: flex;
	}
	& > .inner {
		background-color:#fff;
		box-shadow: 0 0 5px -3px #000;
		padding:2rem;
	}
	.close-icon {
		cursor: pointer;
		display: inline-block;
		font-size: 2.5rem;
		margin-top: -0.75rem;
		margin-bottom: 0;
	}
}

/*
 * SP
 */
@media screen and (max-width : 600px) {
	.s12 { width:100% !important; }
	.btn {
		padding:.35rem 1.5rem;
	}
	.container > #edit-form {
		height:auto;
		justify-content:center;
		position: relative;
	}
	.container > .screen-wrap {
		margin-left: 0;
	}
}
